*.vs
/bin
/obj
/*/*/bin
/*/*/obj
/*/*.Tests/bin
/*/*.Tests/obj
/*/*.user
/DataMungingKata/PartThree/DataMungingPartThree/bin/Debug/netcoreapp3.0
/DataMungingKata/PartThree/DataMungingPartThree/obj
/DataMungingKata/PartThree/DataMungingPartThree.Tests/bin/Debug/netcoreapp3.0
/DataMungingKata/PartThree/DataMungingPartThree.Tests/obj
/DataMungingKata/PartThree/DataMungingCore/bin/Debug/netcoreapp3.0
/DataMungingKata/PartThree/DataMungingCore/obj
/DataMungingKata/PartThree/WeatherComponent/bin/Debug/netcoreapp3.0
/DataMungingKata/PartThree/WeatherComponent/obj
/DataMungingKata/PartThree/DataMungingCore.Tests/bin/Debug/netcoreapp3.0
/DataMungingKata/PartThree/DataMungingCore.Tests/obj
/DataMungingKata/PartThree/WeatherComponent.Tests/bin/Debug/netcoreapp3.0
/DataMungingKata/PartThree/WeatherComponent.Tests/obj
/DataMungingKata/PartThree/FootballComponent/bin/Debug/netcoreapp3.0
/DataMungingKata/PartThree/FootballComponent/obj
